Search Ingredients <input type="text" [(ngModel)]="query"/> 
<button (click)="getIngredients()">Search</button>
<select #ingredient *ngIf="showIngredients" (change)="getRecipes($event, ingredient.value)">
    <option>Choose an ingredient</option>
    <option *ngFor="let ing of ingredients" >{{ing.name}}</option>
</select>
<br/>
<br/>
<div *ngIf="showMeals" class="container">
    <div  *ngFor="let rec of recipes" class="box">
        <img align="center" padding="100px" height="70%" src="{{rec.image}}">
        <h4>{{rec.title}}</h4>
        <br>
        <button (click)="downloadRecipe(rec.id)">Show Recipe PDF</button>
    </div>
</div>